
#counter {
  font-size: 60px;
  margin: 20px auto;
  text-transform: uppercase;
  text-align: center;
  width: 80%;

  &:after {content:" ";
    clear:both;
    display:table;
   }

    div {
    color: #964c31;
    display: inline-block;
    height: 90px;
    padding: 0px;
    width: 200px;

     &:first-child {
      border: 9px solid #D14A33;
      color: #D14A33;
      display: flex;
      height: 200px;
      justify-content: center;
      margin-bottom: 10px;
      width: 100%;
      @include media-query($on-palm) {
        display: block;
      }

      strong {
        padding-left: 15px;
        font-size: 155px;
        @include media-query($on-palm) {
          font-size: 105px;
          float: none;
        }
      }

      em {
        font-size: 50px;
        padding: 28px 0 0 2px;
        @include media-query($on-palm) {
          float: none; 
          padding: 0;
        }
      }
    }

    &:nth-child(4n+2) {
       clear: both;
       padding-left: 10px;
    }
  }

  strong {
    float: left;
  }

  em {
    display: block;
    float: left;
    font-size: 20px;
    padding: 11px 0 0 4px;
  }
}

h2 {
  clear: both;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.card-columns {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  margin-bottom: 20px;
}
a:hover {
  opacity: .8;
}

.card {
  background-position: center center;
  background-size: cover;
  border: none;
  border-radius: 0;
  min-height: 230px;
  @include media-query($on-palm) {
    min-height: 150px;
  }

  p {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 7px;
    text-align: right;
    @include media-query($on-palm) {
      font-size: .9em;
    }
  }

  .card-block {
    min-height: 193px;
    @include media-query($on-palm) {
      min-height: 115px;
    }

    h4 {
      background-color: $brand-color;
      box-decoration-break: clone;
      color: white;
      display: inline;
      font-size: 34px;
      font-weight: 600;
      line-height: 35px;
      margin-left: -20px;
      padding: 0 10px 4px;
      transition: background-color 0.1s linear 0s;
      @include media-query($on-palm) {
        font-size: 22px;
      }
    }
  }
}

footer {
  font-size: .9em;
  margin-top: 50px;
  text-align: center;
  a {
    padding: 0 5px;
  }
}
